@charset "UTF-8";
body{margin:0;
 padding:0; 
}
.header_css{
	height:50px;
	background-color:gray;
}

.header_div{
	width:1200px;
	height:50px;
	background-color: #ccc; 
	margin:0 auto;
}
.nav_css{
	height:100px; 
	background-color:skyblue;
}
.main_css{
	height:auto;
	background-color:yellowgreen;
}
.section_1{
	height:450px;
	background-color: orange;
}
.section_2{
	height:800px;
	background-color: pink;
}
.aside_left{
	width:30%;
	height:800px;
	background-color: purple;
	float:left;
}
.article_right{
	width:70%;
	height:800px;
	background-color: green;
	float:right;
}

.article_banner{
	height:100px;
	clear:both; /*위에 float: left, right가 있어서 clear꼭 넣어주기*/
	background-color: black; 
}
.notice{
	height:300px;
	background-color:yellow; /*강제로 100% 늘릴수도 있지만 일반적으로 좀 남음*/
}
.footer_css{
	height: 300px;
	background-color: navy;
}
